# Практическое задание № 2

## Выполнил: Черников Дмитрий Николаевич

**Задание:**


* 1. Загрузить данные с файла расширения csv (adult.data.csv)
* 2. Провести очистку данных
* 3. С помощью библиотеки Pandas ответить на несколько вопросов по данным набора Adult по доходу населения, каждый объект которого содержит социальные характеристики некоторого человека (возраст, пол, профессиональная деятельность и т.п.).
* 4. Выполните запись результатов в файл с разделителями.
* 5. Опубликуйте файл расширения ipynb на платформу Odin.

Уникальные значения признаков набора Adult по доходу населения:
 * age: возраст
 * workclass: вид работы: Частный, без оплаты, никогда не работал и т.д.
 * fnlwgt: вес кейса
 * education: уровень образования: Бакалавриат, Некоторые колледжи, 11-й, Высшая степень, Профессиональная школа, Доцент-acdm, Assoc-voc, 9-й, 7-8-й, 12-й, Магистр, 1-4-й, 10-й, Докторантура, 5-й-6-й, Дошкольное.
 * education-num: код уровня образования.
 * marital-status: статус гражданина: Женат-гражданская супруга, Разведен, Никогда не состоял в браке, Раздельно, Вдова, Женат-супруга-отсутствует, Женат-AF-супруга.
 * occupation: род занятий 
 * relationship: Жена, Собственный ребенок, Муж, Не член семьи, Другой родственник, Неженатый.
 * race: расса
 * sex: пол: Женщина мужчина.
 * capital-gain: Прибыль (число)
 * capital-loss: Затраты
 * hours-per-week: количество часов в неделю.
 * native-country: страна
 * salary: уровень дохода: > 50 тыс., <= 50 тыс.

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

## 1. Загрузка данных с файла csv

In [2]:
df = pd.read_csv('adult.data.csv')
pd.set_option("display.precision", 1)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0.0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0.0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0.0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0.0,40,Cuba,<=50K

In [3]:
print(df.shape) ## результат размерность таблицы: кортеж(строки,столбцы)

(32561, 15)

### Анализ статистических характеристик

In [4]:
stats_df = df.describe().round(2) # Ваш код здесь
stats_df

           age   fnlwgt  education-num  capital-loss  hours-per-week
count  32561.0  3.3e+04        32561.0       32554.0         32561.0
mean      38.6  1.9e+05           10.1          87.3            40.4
std       13.6  1.1e+05            2.6         403.0            12.3
min       17.0  1.2e+04            1.0           0.0             1.0
25%       28.0  1.2e+05            9.0           0.0            40.0
50%       37.0  1.8e+05           10.0           0.0            40.0
75%       48.0  2.4e+05           12.0           0.0            45.0
max       90.0  1.5e+06           16.0        4356.0            99.0

## 2. Очистка данных

Далеко не каждый набор данных представляет собой идеально подобранное множество наблюдений, без аномалий и пропущенных значений. В реальных данных мало порядка, так что прежде чем приступить к анализу, их нужно очистить и привести к приемлемому формату. Очистка данных — неприятная, но обязательная процедура при решении большинства задач по анализу данных.

### Типы данных и обработка пропусков

Есть еще одна проблема — отсутствующие значения, помеченные как «Not Available». Это строковое значение в Python, которое означает, что даже строки с числами будут храниться как типы данных object, потому что если в колонке есть какая-нибудь строковая, Pandas конвертирует её в колонку, полностью состоящую из строковых. Типы данных колонок можно узнать с помощью метода dataframe.info():

In [5]:
df.info() # Ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32554 non-null  float64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 3.7+ MB

Наверняка некоторые колонки, которые явно содержат числа, сохранены как объекты. Мы не можем применять числовой анализ к строковым значениям, так что конвертируем их в числовые типы данных (особенно float)!

In [6]:
pd.unique(df['age'].values) # Ваш код здесь

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87], dtype=int64)

In [7]:
pd.unique(df['fnlwgt'].values)

array([ 77516,  83311, 215646, ...,  34066,  84661, 257302], dtype=int64)

In [8]:
pd.unique(df['education-num'].values)

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8],
      dtype=int64)

In [9]:
pd.unique(df['capital-loss'].values)

array([   0.,   nan, 2042., 1408., 1902., 1573., 1887., 1719., 1762.,
       1564., 2179., 1816., 1980., 1977., 1876., 1340., 2206., 1741.,
       1485., 2339., 2415., 1380., 1721., 2051., 2377., 1669., 2352.,
       1672.,  653., 2392., 1504., 2001., 1590., 1651., 1628., 1848.,
       1740., 2002., 1579., 2258., 1602.,  419., 2547., 2174., 2205.,
       1726., 2444., 1138., 2238.,  625.,  213., 1539.,  880., 1668.,
       1092., 1594., 3004., 2231., 1844.,  810., 2824., 2559., 2057.,
       1974.,  974., 2149., 1825., 1735., 1258., 2129., 2603., 2282.,
        323., 4356., 2246., 1617., 1648., 2489., 3770., 1755., 3683.,
       2267., 2080., 2457.,  155., 3900., 2201., 1944., 2467., 2163.,
       2754., 2472., 1411.])

In [10]:
pd.unique(df['hours-per-week'].values)

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95], dtype=int64)

### Преобразование данных к нужному типу

Необходимо сначала заменить все «Not Available» на not a number (np.nan), которые можно интерпретировать как числа, а затем конвертирует содержимое определённых колонок в тип float:

Выведем статистические данные:

In [11]:
df.info() # Ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32554 non-null  float64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 3.7+ MB

Когда значения в соответствующих колонках у нас станут числами, можно начинать исследовать данные.

### Отсутствующие и аномальные данные

Наряду с некорректными типами данных одна из самых частых проблем — отсутствующие значения. Они могут отсутствовать по разным причинам, и перед анализом эти значения нужно либо заполнить, либо удалить. Сначала давайте выясним, сколько у нас не хватает значений в каждой колонке

In [12]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      7
hours-per-week    0
native-country    0
salary            0
dtype: int64

Убирать информацию всегда нужно с осторожностью, и если много значений в колонке отсутствует, то она, вероятно, не пойдёт на пользу нашей модели. Порог, после которого колонки лучше выкидывать, зависит от вашей задачи, а в нашем проекте мы будем удалять колонки, пустые более чем на половину.

In [13]:
 # Удаляем колонки с ошибочными данными
df = df.drop(columns = 'capital-loss') # Ваш код здесь

Удалить признаки с пропущенными значениями

In [14]:
df.info() # Ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  hours-per-week  32561 non-null  int64
 12  native-country  32561 non-null  object
 13  salary          32561 non-null  object
dtypes: int64(4), object(10)
memory usage: 3.5+ MB

По завершении процесса очистки данных и удаления аномалий у нас осталось 14 признаков.

## 3. Описательный анализ данных

**1. Сколько неженатых граждан** (признак *relationship* = Unmarried) **представлено в этом наборе данных?**

In [15]:
df['relationship'].value_counts()['Unmarried'] # Ваш код здесь

3446

**2. Каков средний возраст** (признак *age* ) **женщин** (признак *sex* = Female)), **которые зарабатывают много?** ( признак *salary* = >50K)

In [16]:
x = df[(df['sex'] == 'Female') & (df['salary'] == '>50K')]['age'].mean()
print(float('{:.2f}'.format(x)))                                        # Ваш код здесь

42.13

**3. Какое наибольшее количество часов человек работает в неделю?** (признак *hours-per-week*)

In [17]:
df['hours-per-week'].max() # Ваш код здесь

99

**4. Сколько граждан  много зарабатывают** (признак *salary* = >50K), **которые закончили 9 классов**?  (признак *education* = 9th)

In [18]:
df[df['salary'] == '>50K']['education'].value_counts()['9th']

27

**5. Посчитайте среднее время работы** (признак *hours-per-week*) **зарабатывающих мало и много** (признак *salary*).

Используйте метод pivot_table

In [19]:
ans = df.pivot_table(
    ["hours-per-week"],
    ["salary"],
    aggfunc = 'mean',
).head(10)
ans # Ваш код здесь

        hours-per-week
salary
<=50K             38.8
>50K              45.5

## 4. Запись данных  в файл

In [20]:
ans.to_csv('my_written_file.csv')# Ваш код здесь